body {
    background-color: black;

    .image-container {
        // height: 600px;
        height: auto;
        width: 60vw;
        max-width: 100%;
        position: relative;
        left: 20%;
    }

}

