.Party_Status_Menu {
    border: 3px solid white;
    border-Radius: 12px;
    background-Color: black;
    color: white;
    font-size: 1.3em;
    flex-direction: column;
    position: relative;
    display: grid;
    margin-top: 70px;
}
.row-character {
    border-bottom: 2px solid white;
    height: 25px;
    display: inline-flex;
}
.column-stat {
    height: 30px;
    padding-right: 50px;
    padding-left: 25px;
}
.column-name {
    width: fit-content;
    height: 30px;
    padding-right: 55px;
    padding-left: 20px;
}
.column-class {
    height: 30px;
    padding-right: 15px;
}
.column-hp {
    height: 30px;
    padding-right: 105px;
    padding-left: 25px;
}



