.Party_Status_Menu {
    width: 52vw;
    height: 140px;
    border: 3px solid white;
    border-Radius: 12px;
    background-Color: black;
    color: white;
    font-size: 1.4em;
    margin-top: 50px;
    flex-direction: column;
    position: relative;
    display: grid;
}
.row-character {
    border-bottom: 2px solid white;
    height: 35px;
    display: inline-flex;
}
.column-name {
    width: fit-content;
    height: 30px;
    padding-right: 25px;
    padding-left: 25px;
    border-right: 2px solid white;
}



