body {
    background-color: black;
}
.tile {
    margin: 0;
    display: inline-flex;
    background-color: #42b842;
}
.row {
    height: 40px;
}
.black {
    background-color: black;
}
.sand {
    background-image: url('/tiles/inside_town/sand.png');
}
.hills {
    background-image: url('/tiles/hills.png');
}
.chest {
    background-image: url('/tiles/chest.png')
}
.rock {
    background-image: url('/tiles/rock.png');
}
.rock2 {
    background-image: url('/tiles/rock2.png');
}
.tree {
    background-image: url('/tiles/tree.png');
}
.tree2 {
    background-image: url('/tiles/tree2.png');
}
.tree3 {
    background-image: url('/tiles/tree3.png');
}
.water {
    background-image: url('/tiles/water1.png');
}
.onetile_riverEW {
    background-image: url('/tiles/onetile_riverEW.png');
}
.onetile_riverNS {
    background-image: url('/tiles/onetile_riverNS.png');
}
.bridgeEW {
    background-image: url('/tiles/bridgeEW.png');
}
.bridgeNS {
    background-image: url('/tiles/bridgeNS.png');
}
.lake_EastShore {
    background-image: url('/tiles/lake_EastShore.png');
}
.lake_SouthShore {
    background-image: url('/tiles/lake_SouthShore.png');
}
.lake_NorthShore {
    background-image: url('/tiles/lake_NorthShore.png');
}
.lake_WestShore {
    background-image: url('/tiles/lake_WestShore.png');
}
.cave {
    background-image: url('/tiles/cave.png');
}
.village {
    background-image: url('/tiles/town.png');
}
/*=============================village tiles below========================================*/
.pathway {
    background-image: url('/tiles/inside_town/walkway_town.png');
}
.village_grass {
    background-image: url('/tiles/inside_town/townGrass.png');
}
.stonewall {
    background-image: url('/tiles/inside_town/wall_town.png');
}
.stonewall_back {
    background-image: url('/tiles/inside_town/wallBack_town.png');
}
.village_tree {
    background-image: url('/tiles/inside_town/tree_hedge.png');
}
.grass_posts {
    background-image: url('/tiles/inside_town/townGrass_posts.png');
}
.locked_door {
    background-image: url('/tiles/inside_town/lockedDoor.png');
}
.stairs {
    background-image: url('/tiles/inside_town/stairs.png');
}
.stairsDown {
    background-image: url('/tiles/inside_town/stairsDown.png');
}
.inn_sign {
    background-image: url('/tiles/inside_town/innSign.png');
}
.armory_sign {
    background-image: url('/tiles/inside_town/WeaponsArmorSign.png');
}
.well {
    background-image: url('/tiles/inside_town/well.png');
}
.shrubs {
    background-image: url('/tiles/inside_town/shrubs_town.png');
}
.flowers {
    background-image: url('/tiles/inside_town/flowers.png');
}
.grave {
    background-image: url('/tiles/inside_town/grave.png');
}
.merchant_stall_hor_south {
    background-image: url('/tiles/inside_town/merchantTable_town.png');
}
.merchant_stall_vert_west {
    background-image: url('/tiles/inside_town/merchantTable2_town.png');
}
.merchant_stall_vert_east {
    background-image: url('/tiles/inside_town/merchantTable3_town.png');
}
/*-------------------------------------------------------------------------------*/
.dungeon_floor {
    background-image: url('/tiles/inside_cave/cave_floor.png');
}
.dungeon_wall {
    background-image: url('/tiles/inside_cave/cave_wall.png');
}
.dungeon_wall2 {
    background-image: url('/tiles/inside_cave/cave_wall2.png');
}
.dungeon_water {
    background-image: url('/tiles/inside_cave/cave_water.png');
}
.dungeon_bridge {
    background-image: url('/tiles/inside_cave/cave_bridge.png');
}
.dungeon_torch {
    background-image: url('/tiles/inside_cave/cave_torch.png');
}
.damage_floor {
    background-image: url('/tiles/inside_cave/cave_damage_floor.png');
}
.dungeon_chest {
    background-image: url('/tiles/inside_cave/cave_chest.png');
}
.caveStairsUp {
    background-image: url('/tiles/inside_cave/cave_stairs_up.png');
}
/* .poison_swamp {
    background-image: url();
} */
/* .castle_bottom_left {
    background-image: url('/tiles/castle_bottom_left.png');
} */
/* .castle_bottom_right {
    background-image: url('/tiles/castle_bottom_right');
}
.castle_top_left {
    background-image: ('/tiles/castle_top_left');
}
.castle_top_right {
    background-image: url('tiles/castle_top_right');
} */