.card-container {
    display: inline-block;
    height: 200px;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    margin-left: 30%;
  }
   h1 {
    text-align: center;    
  }
  p {
    color: blue;
    position: fixed;
    font-size: 2em;
  }
  .img {
    height: 150px;
    width: 150px
  } 
